@import "@/app/variables.module";
@import "@/app/mixins.module";

.step-section {
  $this: &;
  @include flex();
  @include section-padding();
  text-align: center;

  &__container {
    @include container();
  }

  &__title {
    @include hero-title(3);
  }

  &__columns {
    @include flex($align: flex-start, $justify: flex-start);
    @include mq-large-down {
      @include flex($direction: column, $align: flex-start, $justify: flex-start);
    }

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 3rem;
  }

  &__column {
    flex: 1;

    @include mq-large-up {
      &:not(:first-child) {
        margin-left: 3rem;
      }

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }

    @include mq-large-down {
      &:not(:first-child) {
        margin-top: 1.5rem;
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__cta {
    margin-top: 3rem;
    @include flex();
  }
}