@import "@/app/variables.module";
@import "@/app/mixins.module";

.step-section-entry {
  text-align: center;
  height: 100%;
  @include flex($direction: column);

  &__element {
    width: 100%;
    flex: 1;
    @include flex();
  }

  &__title {
    @include hero-title(4);
    text-align: center;
  }

  &__text {
    @include body-sizing('default', 'desktop');
    @include mq-medium-down {
      @include body-sizing('default', 'mobile');
    }
  }

  &__image {
    height: 5rem;
    width: 5rem;
    position: relative;
    margin-bottom: 2rem;

    img {
      height: 100%;
      width: 100%;
    }
  }
}