@import "@/app/variables.module";
@import "@/app/mixins.module";

.image-section {
  $this: &;
  @include flex($direction: column);
  position: relative;
  @include section-padding('large');

  &__title {
    width: 100%;
  }

  &__container {
    @include container();
    @include flex($align: flex-start);

    @include mq-large-down {
      @include flex($direction: column-reverse, $align: flex-start);
    }
  }

  &__item {
    flex: 1;
    width: 100%;
    @include flex($direction: column);

    &:not(:first-child) {
      margin-left: 2rem;

      @include mq-large-down {
        margin-left: 0;
      }
    }

    &:not(:last-child) {
      margin-right: 2rem;

      @include mq-large-down {
        margin-right: 0;
      }
    }
  }

  &__title {
    @include container();
    @include hero-title(3);
  }

  &__text {
    @include mq-large-down {
      margin-top: 2rem;
    }

    text-align: left;
  }

  &__image {
    img {
      height: 25rem;
      @include mq-large-down {
        height: 20rem;
      }

      @include mq-small-down {
        height: 15rem;
      }

      width: 100%;
    }
  }

  &--primary {
    background-color: $color-primary;
    color: $color-font-secondary;
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-font-primary;
  }

  &--tertiary {
    background-color: $color-tertiary;
    color: $color-font-secondary;
  }

  &--white {
    background-color: $color-white;
    color: $color-font-primary;
  }

  &--image {
    background-color: rgba($color-black, 1.0);
    color: $color-white;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  /*&--small {
    min-height: 30rem;
  }

  &--medium {
    min-height: 40rem;
  }

  &--large {
    min-height: 50rem;
  }*/
}