@import "@/app/variables.module";
@import "@/app/mixins.module";

.footer {
  width: 100%;
  @include section-padding('medium');

  &__container {
    @include container();

    text-align: center;
    @include body-sizing('xsmall', 'desktop');
    @include mq-large-down {
      @include body-sizing('xsmall', 'mobile');
    }

    font-weight: $font-weight-regular;
    letter-spacing: -0.025rem;
  }

  &__content {
    @include flex();

    &:last-child {
      margin-top: 2rem;
    }
  }

  &__item {
    flex: 1;

    &:last-child {
      text-align: right;
    }

    &:first-child {
      text-align: left;
    }
  }

  &--primary {
    background-color: $color-primary;
    color: $color-font-secondary;
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-font-primary;
  }

  &--tertiary {
    background-color: $color-tertiary;
    color: $color-font-secondary;
  }

  &--white {
    background-color: $color-white;
    color: $color-font-primary;
  }
}