@import "@/app/variables.module";
@import "@/app/mixins.module";

.footer {
  width: 100%;
  padding: 5rem 0 3.5rem 0;
  background-color: $color-tertiary;
  color: $color-font-secondary;

  &__container {
    @include container();

    text-align: center;
    @include body-sizing('xsmall', 'desktop');
    @include mq-large-down {
      @include body-sizing('xsmall', 'mobile');
    }

    font-weight: 500;
    letter-spacing: -0.025rem;
  }

  &__content {
    @include flex();

    &:last-child {
      margin-top: 2rem;
    }
  }

  &__item {
    flex: 1;

    &:last-child {
      text-align: right;
    }

    &:first-child {
      text-align: left;
    }
  }
}