@import "@/app/variables.module";
@import "@/app/mixins.module";

.column-hero-entry {
  text-align: center;
  height: 100%;
  @include flex($direction: column);

  &__element {
    width: 100%;
    flex: 1;
    @include flex();
  }

  &__title {
    @include header-sizing(2, 'desktop');
    @include mq-medium-down {
      @include header-sizing(2, 'mobile');
    }

    font-family: $font-important;
    text-align: center;
  }

  &__text {
    @include body-sizing('default', 'desktop');
    @include mq-medium-down {
      @include body-sizing('default', 'mobile');
    }

    text-transform: uppercase;
  }
}