@import "@/app/variables.module";
@import "@/app/mixins.module";

.client-nav-bar {
  padding: 1rem 0;

  &__container {
    @include container();
    height: 100%;
    @include flex($justify: flex-end);

    @include mq-large-down {
      @include flex();
    }
  }

  &__item-container {
    height: 100%;
    @include flex();

    @include mq-medium-down {
      @include flex($direction: column);
    }
  }

  &__item {
    width: 100%;
    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:not(:first-child) {
      margin-left: 2rem;
    }

    flex: 1;
    @include flex($justify: flex-end);
    @include mq-large-down {
      @include flex();
      &:not(:last-child) {
        margin-right: 0;
        padding-bottom: 0.5rem;
      }

      &:not(:first-child) {
        margin-left: 0;
        padding-top: 0.5rem;
      }
    }

    @include body-sizing('default', 'desktop');
    @include mq-medium-down {
      @include body-sizing('default', 'mobile');
    }

    &--icon, &--text {
      @include flex();
    }

    &--icon {
      padding-right: 0.25rem;
      text-align: center;
    }

    &--text {
      padding-left: 0.25rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &--primary {
    background-color: $color-primary;
    color: $color-font-secondary;
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-font-primary;
  }

  &--tertiary {
    background-color: $color-tertiary;
    color: $color-font-secondary;
  }

  &--white {
    background-color: $color-white;
    color: $color-font-primary;
  }

  &--black {
    background-color: $color-black;
    color: $color-font-secondary;
  }
}