@import "@/app/variables.module";
@import "@/app/mixins.module";

.nav-bar-item {
  $this: &;
  @include flex();
  padding: 0.375rem 0.75rem;
  border: 0.125rem solid transparent;
  font-weight: 500;
  transition-property: border-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-curve;

  &__reset-anchor {
    color: inherit;
    text-decoration: inherit;
  }

  &--active {
    font-weight: $font-weight-bold;
    pointer-events: none;
    cursor: auto;
  }

  &:hover {
    cursor: pointer;
  }

  &--primary {
    color: $color-font-secondary;

    &:hover {
      border-bottom: 0.125rem solid $color-font-secondary;
    }
  }

  &--secondary {
    color: $color-font-primary;

    &:hover {
      border-bottom: 0.125rem solid $color-font-primary;
    }
  }

  &--tertiary {
    color: $color-font-secondary;

    &:hover {
      border-bottom: 0.125rem solid $color-font-secondary;
    }
  }

  &--transparent {
    color: $color-font-secondary;

    &:hover {
      border-bottom: 0.125rem solid $color-font-secondary;
    }
  }

  &--white {
    color: $color-font-primary;

    &:hover {
      border-bottom: 0.125rem solid $color-font-primary;
    }
  }

  &--active_primary {
    color: $color-font-secondary;
    border-bottom: 0.125rem solid $color-font-secondary;
  }

  &--active_secondary {
    color: $color-font-primary;
    border-bottom: 0.125rem solid $color-font-primary;
  }

  &--active_tertiary {
    color: $color-font-secondary;
    border-bottom: 0.125rem solid $color-font-secondary;
  }

  &--active_transparent {
    color: $color-font-secondary;
    border-bottom: 0.125rem solid $color-font-secondary;
  }

  &--active_white {
    color: $color-font-primary;
    border-bottom: 0.125rem solid $color-font-primary;
  }
}