@import "@/app/variables.module";
@import "@/app/mixins.module";

.nav-bar {
  $this: &;
  position: relative;
  z-index: 100;
  padding: 1.0rem 0;
  @include flex();

  &__container {
    @include container();
    @include flex();
    width: 100%;
  }

  &__items {
    @include flex();

    &--left {
      flex: 0.5;
      justify-content: flex-start;
    }

    &--right {
      flex: 1;
      justify-content: flex-end;
    }
  }

  &__item {
    position: relative;
    z-index: 100;
    text-align: center;
    padding: 0.75rem 0;

    &:not(:first-child) {
      margin-left: 0.5rem;
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    @include mq-large-down {
      display: none;
    }

    &--brand {
      display: block;
      margin-right: 1.5rem !important;
    }

    &--mobile {
      display: none;

      @include mq-large-down {
        display: block;
        font-size: 2rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__mobile-menu {
    @include flex($direction: column);
    transition: all $transition-duration $transition-curve;
    display: none;
    position: absolute;
    margin-top: 0.5rem;
    z-index: 5;
    width: 100%;
    padding: 1.5rem 0.5rem;

    &--active {
      @include flex($direction: column);
    }
  }

  &__mobile-menu-item {
    &:not(:first-child) {
      margin-top: 0.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &--primary {
    background-color: $color-primary;
    box-shadow: rgba($color-black, 0.25) 0 0.125rem 0.25rem;

    #{$this}__mobile-menu {
      background-color: $color-primary;
      box-shadow: rgba($color-black, 0.25) 0 0.125rem 0.25rem;
    }
  }

  &--secondary {
    background-color: $color-secondary;
    box-shadow: rgba($color-black, 0.25) 0 0.125rem 0.25rem;

    #{$this}__mobile-menu {
      background-color: $color-secondary;
      box-shadow: rgba($color-black, 0.25) 0 0.125rem 0.25rem;
    }
  }

  &--tertiary {
    background-color: $color-tertiary;
    box-shadow: rgba($color-black, 0.25) 0 0.125rem 0.25rem;

    #{$this}__mobile-menu {
      background-color: $color-tertiary;
      box-shadow: rgba($color-black, 0.25) 0 0.125rem 0.25rem;
    }
  }

  &--transparent {
    background-color: transparent;
  }

  &--white {
    background-color: $color-white;
    box-shadow: rgba($color-black, 0.25) 0 0.125rem 0.25rem;

    #{$this}__mobile-menu {
      background-color: $color-white;
      box-shadow: rgba($color-black, 0.25) 0 0.125rem 0.25rem;
    }
  }

  &--small {
    height: 6rem;

    @include mq-large-down {
      height: 4rem;
    }
  }

  &--medium {
    height: 8rem;

    @include mq-large-down {
      height: 6rem;
    }
  }

  &--large {
    height: 10rem;

    @include mq-large-down {
      height: 8rem;
    }
  }

  &--open {
    display: block;

    @include mq-large-down {
      display: none;
    }
  }

  &--closed {
    display: none;

    @include mq-large-down {
      display: block;
    }
  }
}