@import "@/app/variables.module";
@import "@/app/mixins.module";

.client-card-section {
  padding: 4rem 0;
  background-color: $color-grey-100;

  &__container {
    @include container();
    @include flex($direction: column, $align: flex-start);
  }

  &__title {
    @include hero-title(3);
    border-bottom: 0.5rem solid $color-secondary;
  }

  &__subtitle {
    padding-bottom: 2rem;
  }

  &__cards {
    @include flex();
  }

  &__column {
    flex: 1;

    &:not(:first-child) {
      margin-left: 1rem;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}