@import "@/app/variables.module";
@import "@/app/mixins.module";

.client-card {
  $this: &;
  border-radius: 0.875rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  &__image {
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      transform: translateX(-10%);
      width: 135%;
      height: 100%;
    }
  }

  &__container {
    position: relative;
    z-index: 10;
    @include flex($align: flex-start, $justify: flex-end, $direction: column);
    background-image: linear-gradient(transparent 50%, rgba($color-black, 1.0));
    height: 30rem;
    color: $color-white;
    padding: 2rem 1rem;
    text-align: left;
  }

  &__title, &__text {
    flex: 1;
    @include flex($align: flex-end, $justify: flex-end);
    width: 100%;
  }

  &__text {
    transition: all $transition-duration $transition-curve;
    padding-top: 1rem;
    transform: translateY(12rem);
    white-space: break-spaces;
    margin: 0;
  }

  &__title {
    transition: all $transition-duration $transition-curve;
    transform: translateY(10rem);
    flex: 2;
    justify-content: flex-start;
    word-wrap: break-word;
    text-transform: uppercase;
    @include header-sizing(4, 'desktop');
    @include mq-medium-down {
      @include header-sizing(4, 'mobile');
    }

    @include flex($direction: column, $align: flex-start, $justify: flex-end);
  }

  &:hover {
    #{$this}__title {
      transform: translateY(0);
    }

    #{$this}__text {
      transform: translateY(0);
      @include flex($direction: column, $align: flex-start, $justify: flex-end);
    }

    #{$this}__image {
      filter: blur(0.175rem);
    }
  }
}